doctype
html
  head
    title Skippy Control
    //link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/css/interface.css')
  body
    div.container
      div.page-header
        h1.text-center Skippy Dashboard
        div.row
            div.col-sm-4.container
              div.row
                div.col-sm-12.well
                  table
                    tr
                        td.text-right
                            h5 Distance &nbsp;
                                span.glyphicon.glyphicon-scale
                        td.text-left
                            h5 &nbsp;
                                span#distance
                    tr
                        td.text-right
                            h5 Total distance &nbsp;
                                span.glyphicon.glyphicon-road
                        td.text-left
                            h5 &nbsp;
                                span#total
                    tr
                        td.text-right
                            h5 Speed &nbsp;
                                span.glyphicon.glyphicon-dashboard
                        td.text-left
                            h5 &nbsp;
                                span#speed
                    tr
                        td.text-right
                            h5 Charge left &nbsp;
                                span.glyphicon.glyphicon-hourglass
                        td.text-left
                            h5 &nbsp;
                                span#charge
                    tr
                        td.text-right
                            h5 Warning &nbsp;
                                span.glyphicon.glyphicon-bell
                        td.text-left
                            h5 &nbsp;
                                span#warning
              div.row
                div.col-sm-12
                  div#msgboard

            div.col-sm-4
                .mainContainer.well
                    div.row
                        div.col-sm-12
                          .buttonBlock
                            button.btn.btn-lg.btn-primary#forward
                                span.glyphicon.glyphicon-arrow-up
                          .buttonBlock
                            button.btn.btn-lg.btn-primary#left
                                span.glyphicon.glyphicon-arrow-left
                            |&nbsp;
                            button.btn.btn-lg.btn-primary#right
                                span.glyphicon.glyphicon-arrow-right
                          .buttonBlock
                            button.btn.btn-lg.btn-primary#backward
                                span.glyphicon.glyphicon-arrow-down
                          .buttonBlock
                            button.btn.btn-lg.btn-danger#stop
                                span.glyphicon.glyphicon-off
                                |&nbsp; Stop
                    div.row
                        div.col-sm-6
                          .buttonBlock
                                button.btn.btn-info#demo Run Demo
                        div.col-sm-6
                            .buttonBlock
                                button.btn.btn-info#auto Auto mode
            div.col-sm-4.container
                div.row
                    div.col-sm-12
                      div.panel.panel-success
                        div.panel-heading
                          |Define route
                        div.panel-body
                          select#commands
                            option(value="forward") Go Forward
                            option(value="backward") Go Backward
                            option(value="left") Turn Left
                            option(value="right") Turn right
                          |&nbsp;
                          input#param(type="number", maxlength="4", placeholder="Value", size="4")
                          |&nbsp;
                          button.btn.btn-sm#add(type="button") Add
                        div.panel-footer
                          button.btn.btn-sm.btn-info#run Run
                          |&nbsp;
                          button.btn.btn-sm.btn-default#clear Clear
                div.row
                    div.col-sm-12
                        ul.list-group#cmdlist
      script(src="/js/jquery-2.1.1.min.js")
      script(src="/socket.io/socket.io.js")
      script.
        $(document).ready(function(){
            var socket = io();
            var cmdlist = [];
            socket.on("speed", function(val){
                console.log("new speed: " + val);
                $("#speed").html(val);
            });
            $('.mainContainer button').click(function(){
                var cmdname = $(this).attr('id');
                console.log(cmdname);
                socket.emit(cmdname, cmdname);
                return false;
            });

            $('#add').click(function(){
                var cmd = $("#commands :selected").val();
                console.log(cmd);
                var val = $("#param").val();
              	$("#cmdlist").append(
                  	'<li class="list-group-item">'
                      + $("#commands :selected").html() + ": "
                      + val + '</li>'
                  );
                  var obj = {};
                  obj[cmd] = val;
                  cmdlist.push(obj);
                  //- $("#msgboard").append(
                  //- '<div class="well"><p>' +
                  //-   JSON.stringify(cmdlist) + '</p></div>'
                  //- );
                  //console.log(JSON.stringify(cmdlist));
            });

            $("#clear").click(function(){
            	$("#cmdlist").html("");
              cmdlist = [];
            });

            $("#run").click(function(){
                console.log("Run button clicked!");
                console.log(JSON.stringify(cmdlist));
                if(cmdlist && cmdlist.length > 0)
                {
                    //console.log(JSON.stringify(cmdlist));
                    socket.emit("runList", cmdlist);
                }
                return false;
            });
        });
